# Environment
.venv/
.env
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# IDEs
.idea/
.vscode/

# Assets & Media
app/assets/audio/responses/*.wav
app/assets/audio/enrollment/*.wav
app/assets/audio/questions/*.mp3
*.mp4
*.log

# Databases & Temp
*.db
temp_uploads/
app/assets/known_person.jpg

# Models (Optional)
# app/assets/*.task
