version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - ENV=production
      - APP_BASE_URL=${APP_BASE_URL}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - SECRET_KEY=change_this_to_a_secure_random_string_in_production
      - DATABASE_URL=${DOCKER_DATABASE_URL}
      - LLM_MODEL=qwen2.5-coder:3b
      - OLLAMA_BASE_URL=http://ollama:11434
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
    dns:
      - 8.8.8.8
    volumes:
      - ./app:/app/app # Live code reload
      - ./app/assets:/app/app/assets # Persist assets
    depends_on:
      db:
        condition: service_healthy
      ollama:
        condition: service_started
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network

  ollama:
    image: ollama/ollama:latest
    container_name: face_gaze_ollama
    restart: unless-stopped
    volumes:
      - ollama_storage:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - app-network

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command: "http app:8000"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040" # Dashboard
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:
  ollama_storage:


networks:
  app-network:
    driver: bridge
